
.doc{
    margin-top: 100px;

}
@media(min-width:341px){
.mod{
margin-top:-100px;
    z-index:0;
}
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.doc img{
   margin-top: 18px;
    width: 30%;
    height: 400px;
}
.open{
display:none;
}

header span{
    padding-top: 20px;
    font-size: 25px;
}
.img1{
    float:right;
    margin-top: -340px;
    width:400px;
    height:300px;
}
*{
    margin: 0;
padding: 0;
}
.form{
    margin-left: 460px;
    border: 3px solid black;
    border-style: dashed;
    width: 650px;
    height: 100%;
    margin-top: 100px;
    display: none;
}
.loader{
animation-name: load;
animation-duration: 5s;
animation-direction:normal;
animation-iteration-count: 1s;
background: linear-gradient(90deg, rgba(245,255,0,1) 0%, rgba(211, 209, 40, 0.886) 35%, rgb(171, 243, 83) 83%, rgba(112,255,0,0.7931547619047619) 100%);height: 5px;
width: 0%;
z-index: 1000;
position: relative;
}
a{
    text-decoration: none;
    color: aliceblue;
}

@keyframes load{
 20%{
    width: 40%;
 }
 60%{
    width: 70%;
 }

 100%{
    width: 100%;
 background-color: #a2ff00;
 transition: 1s;
    display: none;
 }


    }
header{
    margin-top: -10px;
    background-color: #1a1a1a;
 position: sticky;
 right: inherit;
    height: 80px;
    color: white;

}

body{
    font-family: Garet Heavy;
}
.fixed {
    position: sticky;
    top: 0;
    left: 0;
    
}
header ul li{
    float: right;
margin-right: 60px;
list-style: none;
}

.wiki{
    font-size: 30px;
    margin-top: 30px;
}

.wiki p{
    margin-top: 30px;
}
.start{
    background-image: url("https://sun9-49.userapi.com/wNjYThWBTBwMzI39Wxb5onyUWqu_T5HRjFWWXA/LVrxa1knYnY.jpg");
    background-position: center;
    width: 100%;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #1a1a1a;
    color: aliceblue;
    background-repeat: no-repeat;
    height: 680px;
    text-align: center;

}

button{
    cursor: pointer;
}

.start h1{
    text-align: center;
    padding-top: 300px;
    font-size: 3em;
}
footer{
    background-color: #1a1a1a;
    height: 300px;
    margin-top: 150px;
    width: 100%;
    text-align: center;
    font-weight: 100;
}
footer h2{
    margin-top: 20px;
}
  
#click{
    background-color: #a2ff00;
    font-size: 28px;
    border: 0;
height: 70px;
width: 200px;
margin-left: 650px;
    border-radius: 10px;
    animation-name:scales ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#click2{
    background-color: #a2ff00;
    font-size: 28px;
    border: 0;
height: 70px;
display: none;
width: 200px;
margin-left: 650px;
    border-radius: 10px;
    animation-name:scales ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.help main{
    height: 100%;
    margin-top: 50px;
    width: 70%;
    margin-left: 70px;
    border-radius: 10px;
    background-color: #a2ff00;
}

.help main summary{
    font-size: 40px;
    cursor: pointer;

}
.help main p{
    font-size: 25px;
}
#click:hover{
    background-color: red;
    color: white;
}

@keyframes scales{
from{
    transform: scale(1.1);
transition: 1s;
}
to{
    transform: scale(1);
    transition: 1s;
}

}


@media(max-width: 340px){
 
    .doc{
        margin-top: 100px;
    
    }
    .mod{
    display:block;
    }
    .items{
        display: block;
          }
    .doc img{
       margin-top: 18px;
        width: 100%;
        height: 300px;
    }
    .open{
    display: block;}
    header span{
        padding-top: 20px;
        font-size: 25px;
    }

    .mod ul li{
        list-style: none;
        margin-top: 39px;
    }
    .mod a{
        color: #1a1a1a;
    }
    .img1{
        float:right;
        margin-top: -340px;
    }
    
    *{
        margin: auto;
    padding: 0;
    }
    .form{
        margin-left: 0px;
        border: 3px solid black;
        border-style: dashed;
        width:100%;
        height: 100%;
        margin-top: 100px;
        display: none;}
    .loader{
    animation-name: load;
    animation-duration: 5s;
    animation-direction:normal;
    animation-iteration-count: 1s;
    background: linear-gradient(90deg, rgba(245,255,0,1) 0%, rgba(211, 209, 40, 0.886) 35%, rgb(171, 243, 83) 83%, rgba(112,255,0,0.7931547619047619) 100%);height: 5px;
    width: 0%;
    z-index: 1000;
    position: relative;
    }
    a{
        text-decoration: none;
        color: aliceblue;
    }
    
    @keyframes load{
     20%{
        width: 40%;
     }
     60%{
        width: 70%;
     }
    
     100%{
        width: 100%;
     background-color: #a2ff00;
     transition: 1s;
        display: none;
     }
    
    
        }
    header{
        margin-top: -11px;
        background-color: #1a1a1a;
        height: 80px;
        width: 100%;
        z-index: 0;
        color: white;
    
    }
      .mod{
        height: 500px;
        width: 100%;
        z-index: 9999;
        background: #fff;
 color:#1a1a1a;
          border-style: dashed;
     position: absolute;
top: -700px;     
    }
   
    body{
        font-family: Garet Heavy;
    }
    .fixed {
        position: sticky;
       
        
    }
    header ul li{
        display: none;
        float: right;
    margin-right: 60px;
    list-style: none;
    }
    
    .wiki{
        font-size: 17px;
        margin-top: 20px;
    }
    
    .wiki p{
        margin-top: 15px;
    }
    .start{
        background-image: url("https://sun9-49.userapi.com/wNjYThWBTBwMzI39Wxb5onyUWqu_T5HRjFWWXA/LVrxa1knYnY.jpg");
        background-position: center;
        width: 100%;
        background-attachment: fixed;
        background-blend-mode: multiply;
        background-color: #1a1a1a;
        color: aliceblue;
        background-repeat: no-repeat;
        height: 680px;
        text-align: center;
    
    }
    button{
        cursor: pointer;
    }
    
    .start h1{
        text-align: center;
        padding-top: 200px;
        font-size: 1em;
    }
    footer{
        background-color: #1a1a1a;
        height: 300px;
        margin-top: 150px;
        width: 100%;
        text-align: center;
        font-weight: 100;
    }
    footer h2{
        margin-top: 20px;
    }
      
    #click{
        background-color: #a2ff00;
        font-size: 18px;
        border: 0;
    height: 70px;
    width: 200px;
    margin-left: 50px;
        border-radius: 10px;
        animation-name:scales ;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
    iframe {
        width:100%;
    }
    #click2{
        background-color: #a2ff00;
        font-size: 18px;
        border: 0;
    height: 40px;
    display: none;
    width: 100px;
    margin-left: 70px;
        border-radius: 10px;
        animation-name:scales ;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
    .help main{
        height: 100%;
        margin-top: 50px;
        width: 70%;
        margin-left: 0px;
        border-radius: 10px;
        background-color: #a2ff00;
    }
    
    .help main summary{
        font-size: 17px;
        cursor: pointer;
    
    }
    .help main p{
        font-size: 15px;
    }
    #click:hover{
        background-color: red;
        color: white;
    }
    
    @keyframes scales{
    from{
        transform: scale(1.1);
    transition: 1s;
    }
    to{
        transform: scale(1);
        transition: 1s;
    }
    
    }
    
    
}
